<!DOCTYPE html>
<html>
<head>
  <title>Image Tagger AI</title>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="background-shapes">
    <!-- Decorative shapes -->
    <div class="shape" style="top: 20%; left: 10%;"></div>
    <div class="shape" style="top: 60%; left: 70%;"></div>
    <div class="shape" style="top: 80%; left: 30%;"></div>
    <div class="shape" style="top: 40%; left: 85%;"></div>
  </div>

  <div class="glass-card">
    <h1>Image Tagger</h1>
    <p>An AI powered classification of your images.Upload an image to identify the top 3 predicted categories using MobileNet.</p>
  </div>

  
  <section class="upload-wrapper">
    <div class="upload-section">
      <h2>Upload an Image</h2>
      <form method="POST" action="/predict" enctype="multipart/form-data">
        <div class="custom-file-upload">
          <input type="file" id="imageInput" name="image" accept="image/*" required onchange="previewImage(event)" hidden>
          <label for="imageInput">
            <span>Choose an Image</span>
          </label>
        </div>
         
         <div class="image-preview">
          <img id="preview" src="#" alt="Image preview" style="display:none; max-width: 100%; border-radius: 10px;" />
         </div>
        <button type="submit">Get Predictions</button>
      </form>
    </div>
  </section>
  <div id="loader" class="loader" style="display: none;"></div>

  {% if predictions %}
    <div class="results-list">
      <h3>Predictions:</h3>
      <ul>
        {% for pred in predictions %}
          <li>{{ pred }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <script>
  const form = document.querySelector('form');
  const loader = document.getElementById('loader');

  form.addEventListener('submit', () => {
    loader.style.display = 'block'; // show spinner
  });
  </script>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
